html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}
 /* Home page */
.header {
	height: 150px;
	background: url("http://static.guim.co.uk/sys-images/Travel/Pix/pictures/2012/1/26/1327574205758/Les-Creations-de-Narisawa-008.jpg") 75% 50% no-repeat;
	background-size: 100%;
}

.box {
	width: 100%;
	height: 100%;
	background: url("/assets/stainless2.png") no-repeat;
	background-size: cover;
}

.contain {
	position: fixed;
	width: 45%;
	/*height: 350px;
  width: 500px;*/
	/*background: url("https://download.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg") 50% 50% no-repeat;*/
	/*background-size: 100%;
	background-size: cover;*/
	border-radius: 10px;
}

.userLoginButton {
	width: 80px;
	height: 100px;
	background: transparent;
	color: white;
}

.recipes-search-list{
	display: flex;
	flex-direction: column;
	margin: 50px auto 10px auto;
	width: 250px;
	text-align: center;
}

.ingredients-content {
	text-align: center;
	margin: 10px 0 10px 0;
}

.hr {
	color: transparent;
}
.homePageIngredientsText {
	margin: 80px 0 25px 0;
	border: 1px;
	text-align: center;
	padding: 40px 0 0 0;
}

.gly-spin:hover {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.mc.mc-spatulagrill {
	margin: 170px 50% 0 50%;
	text-align: center;
}

.homePageMealsText {
	margin: 80px 0 25px 0;
	border: 1px;
	text-align: center;

}

.mc.mc-pizza {
	margin: 240px 50% 0 50%;
	text-align: center;
}

.bucket {
	position: fixed;
	height: 65%;
	width: 80%;
	overflow: scroll;
	margin: 100px 0 0 0
}

.recipe-content-header {
	text-align: center;
	color: white
}

.meals-content-header {
	text-align: center;
	color: white;
}

.meal-name {
	text-align: center;
}
.recipe-container img {
	max-width: 200px;
	max-height: 200px;
	background: no-repeat;
}
/* try putting contain here to see what it does to the repeat pictures */

.image {
	background-repeat: no-repeat;
	background-position: center;
	background-clip: border-box;
	-webkit-transition: background-size 0.2s;
	transition-timing-function: cubic-bezier(.07, 1.41, .82, 1.41);
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin: 15px 0 15px 0
}

.recipes-content-container{
	text-align: center;
}

.slider {
	width: 30%;
}

.image:hover{
	transition: all 300ms ease;
	-webkit-transform:scale(1.75);
}

.thing {
   height: 200px;
   background: yellow;
}

.white-text-alignment{
	margin: -125px 0 0 90px;
}


.slider.left-slider {
	width: 350px;
	height: 40%;
	position: fixed;
	top: 25%;
  left: 3%;
}
/*
.left-slides2 {
	height: 65%;
}*/

/*.right-slider {
	width: 20%;
	position: fixed;
	top: 240px;
  right: 3%;
}

.right-slides2 {
	height: 450px;
}*/

.recipeModalSpace {
	height: 50px;
}

.slider:hover {
	-webkit-transform:scale(1.25);
}

/* Bridge was just used to give space for the repeated images below int he ng-repeat in the favs.html file */
.bridge {
	height: 100px;
}

/* Cross is giving space between divs in the home.html for the fixed picture*/
.cross {
	height: 10px;
}

.login-button {
}

.modal-footer {
	display: flex;
}

.modal.recipePopUp {
	max-height: 350px;
	max-width: 800px;
	border-radius: 20px;
	position: fixed;
}

/*.modal1{
	position: absolute;
}*/

.recipeTitleFont {
	font-size: 20px;
	color: black;
}

.slider2:hover{
	-webkit-transform:scale(1.25);
}

/*.slider2 {
	width: 20%;
	height: 40%;
	position: fixed;
	top: 25%;
  right: 3%;
}*/

.slider2 {
  position: fixed;
	right: 3%;
	top: 25%;
  height: 40%;
  width: 20%; }
  .slider2.fullscreen {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .slider2.fullscreen ul.slides {
      height: 20%; }
    .slider2.fullscreen ul.indicators {
      z-index: 2;
      bottom: 30px; }
  .slider2 .slides {
    background-color: #9e9e9e;
    margin: 0;
    height: 40%; }
    .slider2 .slides li {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: inherit;
      overflow: hidden; }
      .slider2 .slides li img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center; }
      .slider2 .slides li .caption {
        color: #fff;
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        opacity: 0; }
        .slider2 .slides li .caption p {
          color: #e0e0e0; }
      .slider2 .slides li.active {
        z-index: 2; }
  .slider2 .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0; }
    .slider2 .indicators .indicator-item {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 16px;
      width: 16px;
      margin: 0 12px;
      background-color: #e0e0e0;
      -webkit-transition: background-color .3s;
      -moz-transition: background-color .3s;
      -o-transition: background-color .3s;
      -ms-transition: background-color .3s;
      transition: background-color .3s;
      border-radius: 50%; }
      .slider2 .indicators .indicator-item.active {
        background-color: #4CAF50; }

/* Users page */

.userMealSpace {
	height: 50px;
}

.meal-container img {
	max-width: 200px;
	max-height: 200px;
	background: no-repeat;
}

.meal-container img:hover {
	background: transparent;
	-webkit-transform:scale(1.25);
}

/* Favs page */

.thumbUp:hover {
	background: transparent;
	-webkit-transform:scale(1.25);
}

.thumbUp {
	background: transparent;
	margin: 0 0 0 150px
}

.modal {
	height: 35%
}
