<div class="navbar-fixed">
	<nav>
		<div class="header z-depth-5">
			<div class="row">
			<div class="col s12 "></div>
			</div>
			<div class="row">
			<div class="col s12 "></div>
			</div>
				<div class="nav-wrapper">
					<!-- Modal Trigger -->
						<li data-target="modal1" class="userLoginButton modal-trigger card-panel hoverable transparent waves-effect waves-light">Login</li>
					<a href="#/home" class="brand-logo center">Pocket Chef</a>
					<ul class="right hide-on-med-and-down">
						<li class="active card-panel  waves-effect waves-light"><a href="#/home">Home</a></li>
						<li class="card-panel hoverable transparent waves-effect waves-light"><a href="#/recipes">Recipes</a></li>
						<li class="card-panel hoverable transparent waves-effect waves-light"><a href="#/meals">Meals</a></li>
						<!-- <li class="card-panel hoverable transparent waves-effect waves-light"><a href="#/favs">Favs</a></li> -->
					</ul>
				</div>
		</div>
	</nav>
</div>

<div class="box">
	<div class="row">
		<div class="col s12"></div>
				<!-- <div class="row">
		      <div class="col s12">
		        <div class="slider left-slider">
		            <ul class="slides left-slides">
		              <li>
		                <img src="http://redirect.bigoven.com/pics/red-velvet-cupcakes-50.jpg">
		                <div class="caption center-align">
		                  <h5 class="light grey-text text-lighten-3"></h5>
		                </div>
		              </li>
		              <li>
		                <img src="http://redirect.bigoven.com/pics/slow-cooker-beef-tacos-4.jpg">
		                <div class="caption left-align">
		                  <h3></h3>
		                  <h5 class="light grey-text text-lighten-3"></h5>
		                </div>
		              </li>
		              <li>
		                <img src="http://redirect.bigoven.com/pics/supremepizzaburgers-e1fd77.jpg">
		                <div class="caption right-align">
		                  <h3></h3>
		                  <h5 class="light grey-text text-lighten-3"></h5>
		                </div>
		              </li>
		              <li>
		                <img src="http://redirect.bigoven.com/pics/country-fried-steak-with-white-grav-2.jpg">
		                <div class="caption center-align">
		                  <h3></h3>
		                  <h5 class="light grey-text text-lighten-3"></h5>
		                </div>
		              </li>
		            </ul>
		          </div>
		        </div>
		      </div>
		    	<script>$(document).ready(function(){
		          $('.slider').slider({full_width: true, interval: 3000, height: 350});
		        });
		    	</script> -->

			<!-- <div class="row">
	      <div class="col s12">
	        <div class="slider2">
	            <ul class="slides">
	              <li>
	                <a ng-href="http://www.bigoven.com/recipe/chocolate-zucchini-cake-recipe/163472"><img src="http://redirect.bigoven.com/pics/chocolate-zucchini-cake-recipe.jpg"></a>
	                <div class="caption2 center-align">
	                  <h3></h3>
	                  <h5 class="light grey-text text-lighten-3"></h5>
	                </div>
	              </li>
	              <li>
	                <a ng-href="http://www.bigoven.com/recipe/roasted-cider-brined-pork-loin-with-green-tomato-chutney/713162"><img src="http://redirect.bigoven.com/pics/roasted-cider-brined-pork-loin-with-5.jpg"></a>
	                <div class="caption2 left-align">
	                  <h3></h3>
	                  <h5 class="light grey-text text-lighten-3"></h5>
	                </div>
	              </li>
	              <li>
	                <a ng-href="http://www.bigoven.com/recipe/slow-cooker-barbacoa-tacos/736207"><img src="http://redirect.bigoven.com/pics/slow-cooker-barbacoa-tacos.jpg"></a>
	                <div class="caption2 right-align">
	                  <h3></h3>
	                  <h5 class="light grey-text text-lighten-3"></h5>
	                </div>
	              </li>
	              <li>
	                <a ng-href="http://www.bigoven.com/recipe/southwest-chicken-salad/748691"><img src="http://redirect.bigoven.com/pics/southwest-chicken-salad-4.jpg"></a>
	                <div class="caption2 center-align">
	                  <h3></h3>
	                  <h5 class="light grey-text text-lighten-3"></h5>
	                </div>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    <script>$(document).ready(function(){
	        $('.slider2').slider({full_width: true, interval: 3000, height: 350});
	        });
	  	</script> -->

		<div class="container">
			<div>
				<div>
					<h5 class="homePageIngredientsText white-text">Are you stuck on what to cook or bored with the same old?
						<br>

						<br> Click on the spatula to plug in the ingredients you have and find the perfect recipe</h5>
				</div>
			</div>
			<div class="spatulaSpacing">
				<div>
			<a ng-href="#/recipes"><i class="mc mc-spatulagrill mc-5x white-text gly-spin"></i></a>
				</div>
			</div>
		</div>
		<div>
			<!-- <a href="#/recipes" div class="waves-effect hoverable waves-light btn white black-text ">Lets Get Cooking </a> -->
			<div>
				<div>
			<h5 class="homePageMealsText white-text">Click on the pizza to start find a recipe</h5>
				</div>
			</div>
			<div class="row spatulaSpacing">
				<div class="col s12">
				<a ng-href="#/meals"><i class="mc mc-pizza mc-5x white-text gly-spin"></i></a>
				</div>
			</div>
		</div>

		<div class="row">
		<div class="col s12 "></div>
		</div>
		<div class="row cross">
		<div class="col s12 "></div>
		</div>
		<div class="col s8 offset-s3">
			<!-- <img class="contain z-depth-5 transparent responsive-img" src="https://download.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg"> -->
		</div>
	</div>
</div>

<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<div class="input-field col s6">
				 <i class="material-icons prefix">perm_identity</i>
				 <input ng-model="email" id="emailIcon" type="email" class="validate">
				 <label for="emailIcon">Email</label>
		</div>
		<div class="input-field col s6">
				 <i class="material-icons prefix">email</i>
				 <input ng-model="password" id="passwordIcon" type="password" class="validate">
				 <label for="passwordIcon">Password</label>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
		<div class="col s5">
			<a ng-click="loginUser(email, password)" class="login-button btn-large waves-effect waves-light blue">Login<i class="material-icons"></i></a>
		</div>

		<div class="col s6">
			<a ng-click="createUser(email, password)" class="btn-large waves-effect waves-light blue">Register<i class=" material-icons"></i></a>
		</div>
		<h5>New to Pocket Chef? Register here to get started</h5>
	</div>
	</div>
</div>

<script>  angular.element(document).ready(function(){
	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	angular.element('.modal-trigger').leanModal();
	});
</script>
