<div class="navbar-fixed">
	<nav>
		<div class="header z-depth-5">
			<div class="row">
			<div class="col s12 "></div>
			</div>
			<div class="row">
			<div class="col s12 "></div>
			</div>
				<div class="nav-wrapper">
					<a href="#/home" class="brand-logo center">Pocket Chef</a>
					<ul class="right hide-on-med-and-down">
						<li class="tab active card-panel  waves-effect waves-light"><a href="#/home">Home</a></li>
						<li class="card-panel hoverable transparent waves-effect waves-light"><a href="#/recipes">Recipes</a></li>
						<li class="card-panel hoverable transparent waves-effect waves-light"><a href="#/favs">Favs</a></li>
					</ul>
				</div>
		</div>
	</nav>
</div>


<div class="box">
	<div class="row">
		<div class="row">
		<div class="col s12 "></div>
		</div>
		<div class="col s12"></div>
		<div class="cooking-button col s8 offset-s5">
			<a href="#/recipes" div class="waves-effect hoverable waves-light btn white black-text ">Lets Get Cooking </a>
			<a href="#/recipes"></a>
		</div>
		<div class="row">
		<div class="col s12 "></div>
		</div>
		<div class="row">
		<div class="col s12 "></div>
		</div>
		<div class="row">
		<div class="col s12 "></div>
		</div>
		<div class="row">
		<div class="col s12 "></div>
		</div>
		<div class="row">
		<div class="col s12 "></div>
		</div>
		<div class="col s8 offset-s1">
			<div class="contain z-depth-5 transparent">
			</div>
		</div>
	</div>
</div>


<!-- <div class="top-container">
		<div class="header"><p> Pocket Chef</p>
			<div class="right-container">
				<a href="#/home"><button class="home-button">Home</button></a>
				<a href="#/start"><button class="start-button">Start</button></a>
				<a href="#/recipe"><button class="recipe-button">Recipes</button></a>
			</div>
		</div>
	</div>
<div>
				<a href="#/start"><button class="button">Click here to start</button></a>
				<div class="left-box">
					<input class="username" placeholder="Username">
					<input class="password" placeholder="Password">
				</div>
				<div class="main-box">
					<div class="option white">
						<input class="text" placeholder="Enter Ingrediant" autocomplete"on">
						<input class="text-small" placeholder="Text" autocomplete"on"></input>
					</div>
					<div class="option blue">
						<input class="text" placeholder="Enter Ingrediant" autocomplete"on"></input>
						<input class="text-small" placeholder="Text" autocomplete"on"></input>
					</div>
					<div class="option red">
						<input class="text" placeholder="Enter Ingrediant" autocomplete"on"></input>
						<input class="text-small" placeholder="Text" autocomplete"on"></input>
					</div>
					<div class="option yellow">
						<input class="text" placeholder="Enter Ingrediant" autocomplete"on"></input>
						<input class="text-small" placeholder="Text" autocomplete"on"></input>
					</div>
					<div class="option green">
						<input class="text" placeholder="Enter Ingrediant" autocomplete"on"></input>
						<input class="text-small" placeholder="Text" autocomplete"on"></input>
					</div>
				</div>
				<div class="right-box"></div>
</div> -->
